body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    font-family: "Clear Sans", "Helvetica Neue"
}

h1 {
    font-size: 80px;
    line-height: 0.7;
    color: #776E65;
    margin: 0px;
}

.container {
    width: 468px;
    margin-top: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #BBADA0;
    border: 7px solid #BBADA0;
    border-radius: 6px;
    margin-top: 20px;
}

.grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #EEE4DA;
    color: #afa192;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
}

.score-container {
    text-align: center;
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #FFFFFF;
}

#score {
    font-size: 30px;
}

.score-title {
    font-size: 16px;
}

.install-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.btn-install {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-install:focus {
    outline: none;
}

.install-notice {
    display: none;
    position: fixed;
    bottom: 3em;
    right: 1em;
    max-width: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.install-notice p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}